<header class="navbar">
  <h1 class="navbar__logo">Analytics4u</h1>
  <ul class="navbar__links">
    <li class="navbar__link-wrapper">
      <a class="navbar__link-wrapper" routerLink="/">Home</a>
    </li>
    <li class="navbar__link-wrapper">
      <a class="navbar__link-wrapper" routerLink="/vehicle-stats">Vehicle Type Stats</a>
    </li>
    <li class="navbar__link-wrapper">
      <a class="navbar__link-wrapper" routerLink="/make-insights">Make Insights</a>
    </li>
    <li class="navbar__link-wrapper">
      <a class="navbar__link-wrapper" routerLink="/tire-analytics">Tire Analytics</a>
    </li>
  </ul>
</header>
